*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    overflow-x: hidden;
}
.header{
    background-image: url(../images/background.png);
    height: 800px;
    background-position: bottom;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
    font-size: 22px;
}
    .nav__logo{
        padding: 0px 20px;
        font-weight: bold;
    }
    .nav__menu-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }
    .nav__icon{
        fill: black;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: none;
    }
    .nav__icon:active{
        transform: scale(.9);
    }

    .nav__ul{
        display: flex;
        column-gap: 70px;
    }

    .nav__li{
        list-style: none;
        cursor: pointer;
    }
.header__text{
    width: 50%;
    height: 600px;
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    flex-direction: column;
    padding: 100px 50px 0px;
}
    .header__titulo{
        font-size: 180px;
        color: white;
        font-weight: bolder;
    }
    .header__parrafo{
        color: white;
        font-size: 24px;
    }

.header__container-button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.button{
    justify-self: flex-end;
    padding: 15px 60px;
    font-size: 32px;
    border: none;
    background-color: rgb(198, 255, 255);
    cursor: pointer;
}
.container{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    flex-wrap: wrap;
}
.container__title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}
.container__text{
    text-align: center;
    width: 70%;
    line-height: 25px;
    font-size: 20px;
    font-weight: lighter;
}

.container--bg-blue{
    background-color: rgb(203, 249, 249);
}

.container__cards{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.container__card{
    width: 280px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.container__img{
    width: 150px;
}
.container__text--bold{
    font-weight: bold;
}
.button--naranja{
    background-color: #ff9035;
    font-size: 24px;
}
.container--bg-img{
    background: url(../images/bg-grid.png);
    flex-direction: row;
}

.container__img--big{
    width: 500px;
}
.container__left{
    width: 850px;
}
.container__title--left, .container__text--left{
    text-align: left;
}

.footer{
    background-color: #3c3838;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer_link{
    color: white;
    text-decoration: none;
}

.footer_link--bold{
    font-weight: bold;
}
@media (max-width: 800px){
    .header__text{
        width: 100%;
    }
    .nav__icon{
        display: block;
    }
    .nav__ul{
        flex-direction: column;
        row-gap: 20px;
        background-color: #f8b257;
        padding: 15px 0px;
        border-radius: 5px;
        box-shadow: 2px 3px 8px lightgray;
        position: absolute;
        top: 40px;
        opacity: 0;
        transform: translateY(-20px);
        transition: .5s all;
    }
    .nav__ul.activo{
        opacity: 1;
        transform: translateY(0px);
    }
    .nav__li{
        padding: 8px 30px;
    }
    .nav__li:hover{
        background-color: #f7a943;
    }
    .container__img--big{
        width: 400px;
    }
}
